@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+CA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Chiron+GoRound+TC:wght@200..900&family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+CA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

#Home{
    background: rgb(100, 76, 46);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d3a776;
    box-shadow: 0 2px 10px;
    border: none;
    z-index: 99;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.logo a{
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    text-decoration: none;
    color: #fff;
}

.navbar{
    display: flex;
}
.navbar #opennavbr{
    display: none;
    background: transparent;
    font-size: 35px;
    color: #fff;
    border: none;
}

.navbar #closenavbr{
    display: none;
    background: transparent;
    font-size: 35px;
    color: #fff;
    border: none;
}

.navbar li{
    list-style: none;
    margin-right: 30px;
}

.navbar li a{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover{
    border: none;
    border-radius: 20px;
    background-color: #b17527;
    padding: 10px;
    transition: 0.5s;
}

#cart-icon{
    position: relative;
    display: flex;
    color: #fff;
    font-size: 25px;
    padding-right: 25px;
    cursor: pointer;
    z-index: 99;
}

#cart-icon .item-count{
    position: absolute;
    top: 10px;
    right: 16px;
    background-color: #fa0505;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    visibility: hidden;
}

.cart{
    position: fixed;
    top: 0;
    right: -150%;
    width: 360px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 10px;
    padding: 50px 30px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 30px;
}

.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cart-box .cart-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 20px;
}

.cart-detail{
    margin: auto;
    display: grid;
    gap: 7px;
}

.cart-product-title{
    font-size: 25px;
}

.cart-product-price{
    font-size: 17px;
    font-weight: 500;
}

.cart-quantity{
    display: flex;
    width: 100px;
    border: 1px solid;
    border-radius: 8px;
}

.cart-quantity button{
    background: transparent;
    font-size: 20px;
    width: 30px;
    border: none;
    cursor: pointer;
}

.cart-quantity #decrement{
    color: #999;
}

.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}

.cart-remove{
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    border-top: 1px solid #000;
}

.total .total-title{
    font-size: 20px;
    font-weight: 550;
}

.total .total-price{
    font-weight: 500;
    font-size: 18px;
}

.btn-buy{
    display: block;
    margin: 20px auto 0;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background: #ffc760;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

#cart-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
}


.hero{
    padding: 150px 30px 50px 50px;
}

.best-coffee{
    text-align: center;
    font-size: 4pc;
    color: #fff;
    font-family: "Playwrite AU NSW", cursive;
}

.sub-title{
    margin-top: 20px;
    text-align: center;
    letter-spacing: 5px;
    color: #ffa500;
    font-size: 50px;
    font-weight: bold;
}

.content{
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    font-family: "Chiron GoRound TC", sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275.5px, 1fr));
    gap: 30px;
}

.coffee-image img{
    width: 80%;
    height: 70vh;
    margin-left: 20%;
    filter: drop-shadow(0px 90px 40px);
    margin-bottom: 70px;
    transition: 0.5s;
}

.coffee-image img:hover{
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 25px #fff);
}

.price-and-buy{
    margin-top: 40%;
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.price-and-buy .price{
    font-size: 4pc;
    font-weight: bold;
    color: #fff;
    margin-left: -10%;
}

#order{
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #ffa500;
    border: none;
    border-radius: 0px 25px 0px 25px;
    margin-left: 30px;
    cursor: pointer;
}

#contact{
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #ffa500;
    border: none;
    border-radius: 0px 25px 0px 25px;
    margin-left: 30px;
    cursor: pointer;
}

#Menu{
    padding: 130px 30px 50px 30px;
}

.menu-title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.Cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275.5px, 1fr));
    gap: 30px;
}

.card{
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    background-color: bisque;
    transition: .5s;
    padding-right: 10px;
}

.product-img img{
    width: 100%;
    filter: drop-shadow(0px 40px 40px);
}

.card:hover{
    transform: scale(1.1);
}

.card .product-title{
    font-size: 20px;
    margin-top: 10px;
}

.card .product-price-and-cart{
    margin-top: 55px;
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.product-price-and-cart .price{
    font-weight: 600;
    font-size: 18px;
}

.product-price-and-cart .add-to-cart{
    padding: 10px 10px;
    background-color: #aa8847;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}

#Services{
    padding: 130px 30px 50px 30px;
    background-color: #f1ede6;
}

.service-title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.service{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275.5px, 1fr));
    gap: 30px;
}

.work{
    border: none;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 20px;
    transition: 0.5s;
    text-align: center;
}

.work:hover{
    transform: scale(1.1);
}

.service-image img{
    width: 90%;
    object-fit: cover;
    clip-path: circle(50%);
}

.rating{
    text-align: center;
    color: #ffa500;
}

.service-content{
    margin-top: 7%;
    font-size: 1.7pc;
    text-align: center;
    border: none;
    padding: 2%;
    color: #fff;
    font-weight: 550;
    border-radius: 20px;
    background-color: #d1b889;
}

#Gallery{
    padding: 130px 30px 50px 30px;
    background-color: #917b52;
}

.gallery-title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.gallery-Cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275.5px, 1fr));
    gap: 30px;
}

.gallery-card{
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(180, 159, 133);
    transition: .5s;
    padding-right: 10px;
}

.gallery-product-img img{
    width: 100%;
    filter: drop-shadow(0px 40px 40px);
}

.gallery-card:hover{
    transform: scale(1.1);
}

.gallery-card .gallery-product-title{
    font-size: 20px;
    margin-top: 10px;
}

.gallery-card .gallery-product-price-and-cart{
    margin-top: 55px;
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.gallery-product-price-and-cart .galery-price{
    font-weight: 600;
    font-size: 18px;
}

.gallery-product-price-and-cart .gallery-add-to-cart{
    padding: 10px 10px;
    background-color: #aa8847;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}

#About{
    padding: 130px 30px 50px 50px;
    background: url(shop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.About-title{
    text-align: center;
    font-size: 3pc;
    color: #fff;
    margin-bottom: 7pc;
}

.about-pgf-and-image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275.5px, 1fr));
    gap: 30px;
}

.about-pgf{
    border: 1px solid;
    border-radius: 20px;
    color: #fff;
    padding: 20px;
    font-weight: 550;
    line-height: 2pc;
    backdrop-filter: blur(50px);
}

.about-img img{
    width: 100%;
    border: 15px solid #fff;
    border-radius: 50%;
    clip-path: circle(50%);
    object-fit: cover;
}

#Contact{
     padding: 130px 30px 50px 30px;
     background: url(k8.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.contact-title{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.contact-form{
    border: none;
    border-radius: 20px;
    width: 26pc;
    height: 100vh;
    backdrop-filter: blur(50px);
}

.send-us{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: #ffa500;
}

.form-group{
    display: block;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
}

.form-group input{
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 15px 40px;
    width: 65%;
    color: #fff;
    text-align: center;
}

#message{
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    padding: 15px 80px;
    border-radius: 20px;
    color: #fff;
}

#send-btn{
    margin-top: 20px;
    margin-left: 6.5pc;
    padding: 20px;
    width: 50%;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border: none;
    background-color: #ffa500;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icons a{
    color: #fff;
    padding: 0px 20px;
}

footer{
    background-color: #000;
    padding: 130px 30px 50px 30px;
    color: #fff;
}

.foot-bottom{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275.5px, 1fr));
    gap: 30px;
    margin-left: 10pc;
}

.foot li{
    list-style: none;
}

@media screen and (max-width: 915px){
    .navbar{
        position: fixed;
        display: block;
        align-items: center;
        text-align: center;
        top: 0;
        left: -100%;
        width: 170px;
        height: 100vh;
        background: #d3a776;
        padding: 50px 0px 50px 30px;
        transition: 0.5s;
    }
    .navbar li a:hover{
        background-color: transparent;
    }
    .navbar.active{
        left: 0;
    }
    .navbar #opennavbr{
        position: fixed;
        display: flex;
        top: 12px;
        right: 100px;
        cursor: pointer;
    }
    .navbar #closenavbr{
        display: grid;
        position: absolute;
        top: 20px;
        left: 140px;
        cursor: pointer;
    }
    .navbar li{
        margin-top: 30px;
        padding: 10px;
    }
    .wrapper{
        display: block;
    }
    .coffee-image{
        margin-bottom: 10pc;
        width: 80%;
        height: 60vh;
        margin-left: 2pc;
    }
    .price-and-buy{
        margin-left: 10pc;
        margin-top: -20pc;
    }
    .contact-form{
        height: 60%;
    }
    #send-btn{
        margin-bottom: 30px;
    }
}
@media  screen and (max-width: 500px){
    .contact-form{
        width: 80%;
}
}
@media screen and (max-width: 1024px){
    .wrapper{
        display: block;
    }
    .coffee-image{
        margin-right: 5pc;
        width: 80%;
    }
    .price-and-buy{
        margin-left: 17pc;
        margin-top: -20pc;
    }
}
